<form method="post" action="{{ controller.getUri('ajaxCreate') }}" class="ajax">

    <div class="modal-body">

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="firstname">Vorname</label>
                <input type="text" class="form-control" id="firstname" name="customer[firstname]" value="">
            </div>
            <div class="form-group col-md-6">
                <label for="lastname">Nachname</label>
                <input type="text" class="form-control" id="lastname" name="customer[lastname]" value="">
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">neuen Gast erstellen</button>
    </div>

</form>