<form method="post" action="{{ controller.getUri('ajaxCreate') }}" class="ajax">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Titel</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Titel">
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">neue Wohneinheit erstellen</button>
    </div>

</form>